<head>
    <meta charset="utf-8">
    <title>Private</title>
    <link rel='stylesheet' href="/public/css/site.css">

</head>

<body>
    <main>
        <h1>Welcome to the Private Zone, {{user.firstName}}</h1>
        <p>id: {{user._id}}</p>
        <p>Username: {{user.username}}</p>
        <p>First Name: {{user.firstName}}</p>
        <p>Last Name: {{user.lastName}}</p>
        <p>Profession: {{user.profession}}</p>
        <p>Bio: {{user.bio}}</p>
        <a href="/logout">Logout</a>
    </main>
</body>