<head>
    <meta charset="utf-8">
    <title>Person Found</title>
    <link rel='stylesheet' href="/public/site.css">
</head>

<body>
    <main>
        <article class="person">
            <h1>Person Found</h1>
            <h2>{{person.firstName}} {{person.lastName}}</h2>
            <dl>
                <dt>ID</dt>
                <dd>{{person.id}}</dd>
                <dt>First Name</dt>
                <dd>{{person.firstName}}</dd>
                <dt>Last Name</dt>
                <dd>{{person.lastName}}</dd>
                <dt>Address</dt>
                <dd>{{person.address}}</dd>
                <dt>Zip Code</dt>
                <dd>{{person.zip}}</dd>
                <dt>Phone</dt>
                <dd>{{person.phone}}</dd>
                <dt>Social Security Number</dt>
                <dd>{{person.ssn}}</dd>
            </dl>

        </article>
    </main>
</body>