<div class="card mb-4" id="{{this.title}}">
    <img class="card-img-top" src="{{this.image.file}}" alt="{{this.title}} Image">
    <div class="card-body">
        <h1>{{this.title}}</h1>
        <p>{{this.description}}</p>
        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#modal{{this.id}}">
            More Information
        </button>
    </div>

</div>

<div class="modal fade" id="modal{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">{{this.title}} - {{this.description}}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {{{this.detail}}}
                </p>

                <b>Grade:</b> {{this.grade}} <br>
                <b>Projects: </b>
                <ul>
                    {{#each this.projects}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="modal-footer">
                <div class="mr-auto">
                    {{{this.image.url}}}
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>